---
name: create ccs_build container

on:
  release:
    types: [published]

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: read-all

jobs:
  build-ccs-base:
    runs-on: ubuntu-latest
    permissions:
      packages: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4.2.2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2.9.0

      - name: Login to GitHub Docker Registry
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get Release Tag
        run: echo "RELEASE_VERSION=v11.0.0" >> "$GITHUB_ENV"

      - name: Build Base Image
        id: docker_build_base
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          target: install-ccs
          tags: >
            ghcr.io/${{
            github.repository_owner 
            }}/ccs-base:${{ env.RELEASE_VERSION }}

  build-cgt-images:
    runs-on: ubuntu-latest
    needs: build-ccs-base
    permissions:
      packages: write
      contents: read
    strategy:
      fail-fast: false
      matrix:
        cgt-versions:
          - prefix: 18.1.3
            version-number: 18.1.3.LTS
            installer-url: 18.1.3.LTS/ti_cgt_msp430_18.1.3.LTS_linux_installer_x86.bin
          - prefix: 21.6.0
            version-number: 21.6.0.LTS
            installer-url: 21.6.0.LTS/ti_cgt_msp430_21.6.0.LTS_linux-x64_installer.bin

    steps:
      - name: Get Release Tag
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> "$GITHUB_ENV"

      - name: Checkout Code
        uses: actions/checkout@v4.2.2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2.9.1

      - name: Login to GitHub Docker Registry
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Images For Specific CGT Versions
        id: docker_build_cgt_images
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          push: true
          tags: >
            ghcr.io/${{
            github.repository_owner 
            }}/ccs-build:${{ matrix.cgt-versions.prefix }}-${{ env.RELEASE_VERSION }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          target: install-specific-cgt
          build-args: |
            MSP430_CGT_VERSION=${{ matrix.cgt-versions.version-number }}
            MSP430_CGT_INSTALLER_URL=${{ matrix.cgt-versions.installer-url }}
