---
# jscpd:ignore-start
# #105 created to address duplication across workflows

name: create ccs_build container - dry run

on:
  workflow_dispatch:
  merge_group:

  pull_request:
    types: [opened, synchronize, edited]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  build-ccs-base:
    runs-on: ubuntu-latest
    permissions:
      packages: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3.10.0

      - name: Login to GitHub Docker Registry
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Base Image
        id: docker_build_base
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          cache-from: type=gha
          cache-to: type=gha,mode=max
          target: install-ccs

  build-cgt-images:
    runs-on: ubuntu-latest
    needs: build-ccs-base
    permissions:
      packages: write
      contents: read
    strategy:
      fail-fast: false
      matrix:
        cgt-versions:
          - prefix: 18.1.3
            version-number: 18.1.3.LTS
            installer-url: 18.1.3.LTS/ti_cgt_msp430_18.1.3.LTS_linux_installer_x86.bin
          - prefix: 21.6.0
            version-number: 21.6.0.LTS
            installer-url: 21.6.0.LTS/ti_cgt_msp430_21.6.0.LTS_linux-x64_installer.bin

    steps:
      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3.10.0

      - name: Login to GitHub Docker Registry
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Images For Specific CGT Versions
        id: docker_build_cgt_images
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          cache-from: type=gha
          cache-to: type=gha,mode=max
          target: install-specific-cgt
          build-args: |
            MSP430_CGT_VERSION=${{ matrix.cgt-versions.version-number }}
            MSP430_CGT_INSTALLER_URL=${{ matrix.cgt-versions.installer-url }}

# jscpd:ignore-end
