---
name: Lint Project

on:
  merge_group:

  push:
    branches:
      - main

  pull_request:
    types: [opened, synchronize]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  super-lint:
    # Name the Job
    name: Lint code base
    # Set the type of machine to run on
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
      statuses: write # Allows more detailed statuses to be provided for PR checks

    steps:
      # Checks out a copy of your repository on the ubuntu-latest machine
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          # Get all history to be able to identify changed files
          fetch-depth: 0
          persist-credentials: false

      # Runs the Super-Linter action
      - name: Run Super-Linter
        uses: super-linter/super-linter/slim@12562e48d7059cf666c43a4ecb0d3b5a2b31bd9e # v8.4.0
        env:
          # only log identified linting issues
          LOG_LEVEL: NOTICE
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # Only lint new and modified files
          VALIDATE_ALL_CODEBASE: false
          # Disable cpplint as it conflicts with clang-format
          VALIDATE_CPP: false
          VALIDATE_GHERKIN: false
          VALIDATE_JSCPD: false
          # Disable pyink as it conflicts with black
          VALIDATE_PYTHON_PYINK: false
          # Disable Biome as it conflicts with Prettier
          VALIDATE_BIOME_FORMAT: false
