---
name: Test released ccs-build action

on:
  workflow_dispatch:

permissions: {}

jobs:
  test_ccs_build:
    runs-on: ubuntu-latest
    name: Test CCS Build
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: "Login to github container registry"
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: CCS Build action step - Release
        uses: apollo-fire/ccs-build@v1.0.0 # zizmor: ignore[unpinned-uses,ref-confusion] - This cannot be checked by zizmor for internal repos
        with:
          project-path: "test/working_ccs_project"
          project-name: "msp430_test_project"
          build-configuration: Release

      - name: CCS Build action step - Debug
        uses: apollo-fire/ccs-build@v1.0.0 # zizmor: ignore[unpinned-uses,ref-confusion] - This cannot be checked by zizmor for internal repos
        with:
          project-path: "test/working_ccs_project"
          project-name: "msp430_test_project"
          build-configuration: Debug

      - name: Upload release firmware artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: "Firmware artifact - Release"
          path: test/working_ccs_project/Release/msp430_test_project.txt
          if-no-files-found: error
          compression-level: 9

      - name: Upload debug firmware artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: "Firmware artifact - Debug"
          path: test/working_ccs_project/Debug/msp430_test_project.txt
          if-no-files-found: error
          compression-level: 9
